.feature-card{
    width:100%;
    max-width:340px;
    background:white;
    border-radius:20px;
    padding:35px 30px;
    text-align:center;

    border:1px solid rgba(37,99,235,.08);

    box-shadow:0 12px 35px rgba(0,0,0,.08);

    transition:.35s;
}

.feature-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 45px rgba(37,99,235,.18);

}

.feature-icon{

    width:80px;
    height:80px;

    margin:auto;

    border-radius:50%;

    background:#2563EB;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:36px;

    margin-bottom:25px;

}

.feature-card h3{

    color:#1E3A8A;

    margin-bottom:15px;

    font-size:22px;

}

.feature-card p{

    color:#64748B;

    line-height:1.8;

}