.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:rgba(15,23,42,.25);
    backdrop-filter:blur(12px);
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:white;
}

.menu{
    display:flex;
    list-style:none;
    gap:35px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

.menu a:hover{
    color:#BFDBFE;
}

.login-btn{
    background:white;
    color:#2563EB;
    padding:12px 24px;
    border-radius:12px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.login-btn:hover{
    background:#EFF6FF;
    transform:translateY(-2px);
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
        padding:16px;
    }

    .menu{
        gap:18px;
        flex-wrap:wrap;
        justify-content:center;
    }

}